.photos {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  height: 400px;
  min-width: 400px;
  max-width: 600px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  top: 35px;
}  