body  {
    font-family: 'Montserrat', sans-serif;
}
.header {
    line-height: 6rem;
    background-color: #FFFFFF;
}
.menu {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px grey;
}
.menu__ul {
    display: flex;
}
.menu__li {
    margin: 0px 0px 0px 20px;
    list-style-type: none;
}
.menu__li:first-child {
    color: #05a88d;
}
.menu__link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}
.menu__link.link__first{
    color: #05a88d;
}
.menu__logo {
    text-decoration: none;
    font-weight: 600;
    font-size: 28px;
    color: #05a88d;
}
.buttons {
    font-size: 22px;
    position: relative;
    right: 2%;
}
.menu__signup {
    position: relative;
    border: 1px solid #05a88d;  
    color: #05a88d;
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
    cursor: pointer;
}
.menu__login {
    color: #05a88d;
    cursor: pointer;
}